node_modules/
dist/
__pycache__/
*.pyc
.env
data/

# Backend symlinks to ZugaCore submodule (created by setup.sh)
/backend/core/auth
/backend/core/database
/backend/core/plugins
/backend/core/credits
